<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-2">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                                <i class="bi bi-house" style="font-size: 20px"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Curriculum">
                                <i class="bi bi-card-heading" style="font-size: 20px"></i>
                                Currículo
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2022 Guilherme Camargo Bley</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="px-2">
                <a class="text-muted" href="https://github.com/GuilhermeBley">
                    <i class="bi bi-github" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="px-2">
                <a class="text-muted" href="https://stackoverflow.com/users/16439096/guilherme-bley">
                    <i class="bi bi-stack-overflow" style="font-size: 25px"></i>
                </a>
            </li>
            <li class="px-2">
                <a class="text-muted" href="https://www.linkedin.com/in/guilhermebley/">
                    <i class="bi bi-linkedin" style="font-size: 25px"></i>
                </a>
            </li>
        </ul>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
