@page
@model ErrorModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Um ou mais erros ocorreram.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Identificador do erro:</strong> <code>@Model.RequestId</code>
    </p>
}

