@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a tabindex="-1">test1</a></li>
        <li role="presentation"><a tabindex="-1">test2</a></li>
    </ul>
</div>
</div>
