@page
@model ProjetosModel

<div class="text-center color-secundary p-md-5 border-bottom border-left border-right border-white">
    <div class="display-2 text-light">
        <h1>
            Meus Projetos <i class="bi bi-archive"></i>
        </h1>
        
    </div>
</div>

<section class="probootstrap-section text-center p-3 mt-2 text-light">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md color-secundary p-md-5" alt="study">
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <img src="~/images/java-logo.png" class="img-fluid" width="910" height="410"/>
                </div>
            </div>
            <div class="col color-secundary">
                <div class="pricing-header mx-auto text-center color-secundary">
                    <h2 class="text-light p-2">
                        Java
                    </h2>
                </div>
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <div class="text-justify info-text">
                        <p> 
                            Entendimento sobre o Java Essentials, onde através do curso <a target="_blank" href="https://www.youtube.com/watch?v=kkOSweUhGZM&list=PL62G310vn6nHrMr1tFLNOYP_c73m6nAzL">DevDojo - Maratona java</a> foi
                            desenvolvido um projeto onde é abordado todos os conceitos principais da linguagem Java, envolvendo Exceptions, Date, Strings and others data types, Regex, ResourceBundle, Io FIles, Collections,
                            Generics, Thread, Concurrent, Lambdas, Streams, dentre outros assuntos.
                        </p>
                        <p>
                            Possuo grande apego por este aprendizado pelo fato de que ele foi o primeiro a me relacionar com uma linguagem Orientada a Objetos fortemente tipada,
                            que foi algo que me familiarizei bastante ao longo do tempo.
                        </p>
                    </div>
                    <a target="_blank" href="https://github.com/GuilhermeBley/JavaStudy" class="btn btn-dark border-light border-1 btn-block mb-3"> Repositório Java Essentials <i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section text-center p-3 mt-2 text-light">
    <div class="container mx-auto">
        <div class="row">
            <div class="col color-secundary">
                <div class="pricing-header mx-auto text-center color-secundary">
                    <h2 class="text-light p-2">
                        Net Core
                    </h2>
                </div>
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <div class="text-justify info-text">
                        <p> 
                            Projeto utilizando ASP NET, onde está sendo implantado a utilização de Entity Framework, Identity Core, Jwt Bearer, tendo o Front End aplicado
                            em um projeto Blazor.
                        </p>
                        <p>
                            Relacionando com o tópico anterior, o que me proporcionou interesse e melhor entendimento na linguagem C# foi o Java, onde a sua semelhança entre
                            ambas é visível, por exemplo até o funcionamento de classe se assemelham, como a classe de Thread, as classes de Collections, dentre outros, isso facilita o processo de aprendizado.
                        </p>
                    </div>
                    <a target="_blank" href="https://github.com/GuilhermeBley/GerVeiculos-Net6" class="btn btn-dark border-light border-1 btn-block mb-3"> Repositório Blazor <i class="bi bi-github"></i></a>
                </div>
            </div>
            <div class="col-md color-secundary p-md-5" alt="study">
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <img src="~/images/blazor-project.png" class="img-fluid" width="910" height="410"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section text-center p-3 mt-2 text-light">
    <div class="container mx-auto">
        <div class="row">
             <div class="col-md color-secundary p-md-5" alt="study">
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <img src="~/images/ruby.png" class="img-fluid" width="910" height="410"/>
                </div>
            </div>
            <div class="col color-secundary">
                <div class="pricing-header mx-auto text-center color-secundary">
                    <h2 class="text-light p-2">
                        Ruby
                    </h2>
                </div>
                <div class="service left-icon probootstrap-animate fadeInUp probootstrap-animated">
                    <div class="text-justify info-text">
                        <p> 
                            Projeto contém conceitos básicos sobre a utilização da linguagem Ruby, sendo uma linguagem de tipagem dinâmica e forte.
                        </p>
                    </div>
                        <a target="_blank" href="https://github.com/GuilhermeBley/RubyEssentials" class="btn btn-dark border-light border-1 btn-block mb-3"> Repositório Ruby <i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    ViewData["Title"] = "Projetos";
}